*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100vh;
    background: rgba(5, 148, 13, 0.795);
    font: normal 15pt Arial;
}

header{
    padding: 2em;
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    height: 60vh;
    width: 60vh;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}
div{
    padding: 2em;
}
img{
    border-radius: 50%;
    background-position: -15px -15px;
    height: 195px;
    width: 195px;
  }

footer{
    padding: 2em;
    color: white;
    text-align: center;
    font-style: italic;
}