*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    padding: 8px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: auto;
    
}
.container{
    display: grid;
    grid-template-columns: 80vh 80vh;

}
input{
    align-items: center;
}
span{
    color: red;
}





.alert-box {
    text-align: center;
    border: 1px solid transparent;
    width: 100vw; 
    height: 80vh;
}

.success {
    text-align: center;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}
.voltarAoNormal{
    display: flex;
    width: 100vw; 
    height: 20vh;
    align-items: center;
}